<div id="scorecardPanel">
	<h3>Scorecard</h3>

	<p>User : {{UserName}}</p>

	<div id="scorecardGrid">
		<table>
			<tr>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
				<th>6</th>
				<th>7</th>
				<th>8</th>
				<th>9</th>
				<th>Front</th>
				<th>10</th>
				<th>11</th>
				<th>12</th>
				<th>13</th>
				<th>14</th>
				<th>15</th>
				<th>16</th>
				<th>17</th>
				<th>18</th>
				<th>Back</th>
				<th>Total</th>
			</tr>
			<tr>
				<td>{{Hole1Score}}</td>
				<td>{{Hole2Score}}</td>
				<td>{{Hole3Score}}</td>
				<td>{{Hole4Score}}</td>
				<td>{{Hole5Score}}</td>
				<td>{{Hole6Score}}</td>
				<td>{{Hole7Score}}</td>
				<td>{{Hole8Score}}</td>
				<td>{{Hole9Score}}</td>
				<td>{{Front9Score}}</td>
				<td>{{Hole10Score}}</td>
				<td>{{Hole11Score}}</td>
				<td>{{Hole12Score}}</td>
				<td>{{Hole13Score}}</td>
				<td>{{Hole14Score}}</td>
				<td>{{Hole15Score}}</td>
				<td>{{Hole16Score}}</td>
				<td>{{Hole17Score}}</td>
				<td>{{Hole18Score}}</td>
				<td>{{Back9Score}}</td>
				<td>{{TotalScore}}</td>
			</tr>
		</table>
	</div>
</div>